@import "tailwindcss";

@theme {
  --color-primary: #1d4a37;
  --color-primary-hover: #356834;
  --color-background: #fbfaf2;
  --color-white: #fbfaf2;
  --color-accent: #2b2b2b;
  --font-avant: "AvantGarde", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: "AvantGarde";
  src: url("/fonts/ITC Avant Garde Gothic PRO/ITC Avant Garde Gothic Pro-XLt.otf")
    format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvantGarde";
  src: url("/fonts/ITC Avant Garde Gothic PRO/ITC Avant Garde Gothic Pro-XLight Oblique.otf")
    format("opentype");
  font-weight: 200;
  font-style: oblique;
  font-display: swap;
}

@font-face {
  font-family: "AvantGarde";
  src: url("/fonts/ITC Avant Garde Gothic PRO/ITC Avant Garde Gothic Pro-Book.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvantGarde";
  src: url("/fonts/ITC Avant Garde Gothic PRO/ITC Avant Garde Gothic Pro-Book Oblique.otf")
    format("opentype");
  font-weight: 400;
  font-style: oblique;
  font-display: swap;
}

@font-face {
  font-family: "AvantGarde";
  src: url("/fonts/ITC Avant Garde Gothic PRO/ITC Avant Garde Gothic Pro-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvantGarde";
  src: url("/fonts/ITC Avant Garde Gothic PRO/ITC Avant Garde Gothic Pro-Medium Oblique.otf")
    format("opentype");
  font-weight: 500;
  font-style: oblique;
  font-display: swap;
}

@font-face {
  font-family: "AvantGarde";
  src: url("/fonts/ITC Avant Garde Gothic PRO/ITC Avant Garde Gothic Pro-Demi.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvantGarde";
  src: url("/fonts/ITC Avant Garde Gothic PRO/ITC Avant Garde Gothic Pro-Demi Oblique.otf")
    format("opentype");
  font-weight: 600;
  font-style: oblique;
  font-display: swap;
}

@font-face {
  font-family: "AvantGarde";
  src: url("/fonts/ITC Avant Garde Gothic PRO/ITC Avant Garde Gothic Pro-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvantGarde";
  src: url("/fonts/ITC Avant Garde Gothic PRO/ITC Avant Garde Gothic Pro-Bold Oblique.otf")
    format("opentype");
  font-weight: 700;
  font-style: oblique;
  font-display: swap;
}

:root {
  font-family: AvantGarde, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: #1a1a1a;
  background-color: #f4efe4;
}

.hero-bg {
  background-image: url("./presentation//assets/images/landscape.jpeg");
  background-size: cover;
  background-position: center;
}
